<h1>Service Form</h1>
<%= form_for @service do |s| %>
<%#= TO-DO dropdown list %>
<%= s.label :name %>
<%= s.select :name, ['Electrical helper','Plumber helper','Moving helper', 'Delivery helper', 'Cooking helper'] %>
<br>
<%#= TO-DO dropdown list %>
<%= s.label :location %>
<%= s.select :location, ['Riyadh','Jeddah'] %>
<br>
<%= s.label :time %>
<%= s.text_field :time %>
<br>
<%#= DONE TO-DO just input numbers  %>
<%= s.label :price %>
<%= s.number_field :price %>
<br>
<%= s.label :contact %>
<%= s.text_field :contact %>
<br>
<%= s.submit %>

<% end %>


