<div class="container">
  <form  class="search-form field input-field" >
    <%= form_tag services_path, method: :get do %>
      <%= text_field_tag :search, params[:search], :placeholder => "SEARCH FOR SERVICE"%>
      <%#= submit_tag "Search" %>
    <% end  %>
  </form>
  <div>
    <%= image_tag("home.png", :class => "intro") %>
  </div>
</div>
<div class="services row  top-marging">
  <% @services.each do |service|%>
    <%#= service.created_at %>
    <div class="row">
      <div class="col s4">
        <div class="card small card-panel hoverable" >
          <div class="card-image">
            <%#= cl_image_tag service.image , :size => "250x180"%>
            <%# if service.image.file %>
            <%#= cl_image_tag service.image, :size => "250x180" %>
            <%# else %>
            <%#= image_tag("default.png", size: "250x180") %>
            <%# end %>
            <%= cl_image_tag service.image.url %>
          </div>
          <div class="card-content">
            <%= link_to service.name , service_path(service) %><br>
          </div>
          <div> <%= pluralize service.comments.length,"comment" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to new_service_path do %>
  <button class="btn-floating btn-large black fixed-action-btn">+</button>
<% end %>
