<%#= console %>
<%#= check if the user_id  in users table equal to FK user_id in the services table%>
<div class="services row top-marging container">



The Helper username: <%= @service.user.username %>

<%= cl_image_tag @service.image %>

<%= @service.name %>

<%= @service.location %>

<%= @service.price %>

<%= @service.contact %>

<%= @service.time %>

<% if user_signed_in? and current_user.id == @service.user_id %>
<%= link_to image_tag("edit.png"), edit_service_path(@service) %>
<%= link_to image_tag("delete.png"), service_path(@service), method: :delete %>
<% end %>
</div>

    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @service.comments.count %></strong> Comments</h2>
        <%#= show the user and comment content from comment.html  %>
        <%= render @service.comments %>
        <div class="comment-form">
            <hr/>
            <p class="subtitle is-3">Leave a reply</p>
             <%= render 'comments/form' %>
        </div>
    </div>
