<!DOCTYPE html>
<html>
  <head>
    <title>HelperApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="nav-wrapper">
      <div>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-items">
          <li>
            <%= image_tag("search.png", size: "20x20") %>
          </li>
          <li>
            <div >
              <form  class="search-form">
                <%= form_tag services_path, method: :get do %>
                  <%= text_field_tag :search, params[:search] %>
                  <%#= submit_tag "Search" %>
                <% end  %>
              </form>
            </div>
          </li>
          <li>
            <%= link_to "Services", services_path  %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <%= link_to "My services", user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Settings", edit_user_registration_path(current_user) %>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div  class="error-message">
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
